@media screen and (min-width: 768px) {
    /*
        navigator
    */
    .topheader {
        overflow: hidden;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
        height: 80px;
        width: 100%;
    }
    .topheader .outer {
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        font-size: 15px;
        background-color: #008DC9;
        text-align: center;
        z-index: 100;
        height: 43px;
        width: 100%;
        border-bottom: 3px solid #008DC9;
        /* để green thì không có cái đường thẳng nhìn ko đẹp cho lắm*/
    }
    .topheader .inner {
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        width: 1000px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .topheader .inner .topleftmenu {
        display: inline-block;
        float: left;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    .topheader .inner .topleftmenu a {
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
        text-decoration: none;
        display: inline-block;
        padding: 12px;
        font-size: 15px;
        font-weight: bold;
    }
    .topheader .inner .topleftmenu a:hover {
        background-color: #fff;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    .topheader .inner .toprightmenu {
        text-align: right;
        float: right;
        width: 200px;
        height: 37px;
        background-color: #008DC9;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    .topheader .inner .toprightmenu .username {
        display: block;
        float: right;
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
        text-shadow: 1px 1px 0px #121212;
        background-color: #008DC9;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    .topheader .inner .toprightmenu .username span {
        padding-top: 12px;
        padding-lefT: 12px;
        display: inline-block;
        font-style: italic;
        background-color: #008DC9;
        font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    }
    .topheader .inner .toprightmenu .username span:hover {
        text-decoration: underline;
        background-color: #008DC9;
    }
    .topheader .inner .toprightmenu a:hover {
        color: gold;
    }
    .clear {
        clear: both;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin: 0px;
        z-index: 10;
    }
    header {
        margin-top: 40px;
        width: 100%;
        height: 140px;
        background-image: url("../images/banner.png");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 10;
    }
    #search{
        height: 30px;
        margin-top: 6px;
    }
}


/*
    Header
*/

#banner #logo img {
    margin-left: 30%;
    height: 140px;
}

#banner #slogan {
    font-size: 30px;
    font-weight: bold;
    color: #005380;
    margin-top: 50px;
}

#communicate span {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 70px;
}

#communicate img {
    height: 54px;
    border: 4px solid transparent;
}

#communicate img:hover {
    border: none;
}


/*
        index
    */

.body-wrapper {
    background-color: #fafafa;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    width: 1004px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 2px 6px gray;
    color: black;
}



/*
    Footer
*/

footer {
    width: 1004px;
    margin: auto;
    height: auto;
    color: white;
    background-color: #008DC9;
    font-family: 'Times New Roman', 'Arial', serif;
    padding: 20px;
    padding-bottom: 0px;
}

.blockfooter ul li a {
    font-family: 'Times New Roman', 'Arial', serif;
}

.titleblock {
    font-size: 16px;
    font-weight: bold;
}

.maps {
    height: 200px;
    ;
    width: 100%;
}

.copyright {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}


/* 
    END FOOTER 
*/