<!DOCTYPE html>
<html lang="en">

<head>
	<title>Quản lý cựu sinh viên - Home</title>
	<% include ../elements/head %>
</head>

<body>
	<!-- 
			Sildebar
		-->

	<% include ../elements/slidebar %>

	<!--
			Header - Banner
		-->
	<header>
		<% include ../elements/banner %>
	</header>

	<div class="body-wrapper">

		<footer>
			<% include ../elements/footer %>
		</footer>
</body>

</html>