<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Register</title>
		<% include ../elements/head %> 
	</head>
	
    <body>
        <!-- 
			Sildebar
		-->

		<% include ../elements/slidebar %>

		<!--
			Header - Banner
		-->
		<header><% include ../elements/banner %></header>

		<!--
			Nav
		-->
        <div class="body-wrapper">
			
		</div>
		
		<!--
			Footer
		-->
        <footer>
				<% include ../elements/footer %>
		</footer>
    </body>
</html>