<!DOCTYPE html>
<html lang="en">

<head>
	<title>Register</title>
	<% include ../elements/head %>
</head>

<body>
	<!-- 
			Sildebar
		-->

	<% include ../elements/slidebar %>

	<!--
			Header - Banner
		-->
	<header>
		<% include ../elements/banner %>
	</header>

	<!--
			Nav
		-->
	<div class="body-wrapper">
	
				<div class="col-md-5 register-sec">
					<h1 class="text-center">Register</h1>
					<br>
					<form class="login-form" action="localhost:3000/post_process" name="register-form" method="post" >
						<div class="form-group">
							<label for="exampleInputEmail1" class="text-uppercase">Email:</label>
							<input type="email" name="email" class="form-control"  placeholder="" required>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">Password:</label>
							<input type="password" id="pass" name="pass" class="form-control" placeholder=""required>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1" class="text-uppercase">Confirm Password:</label>
							<input type="password" id="cfpass" name="cfpass" class="form-control" placeholder="" required onblur=" cfpassBlur();">
							<span id="cf_password_error"></span>
						</div>
							<button type="submit" class="btn btn-register float-right" onclick="cfpassBlur();">Register</button></a>
					</form>
				</div>
	</div>
		
			
	
			
				

	<!--
			Footer
		-->
	<footer>
		<% include ../elements/footer %>
	</footer>
</body>
<script>
			
			function cfpassBlur(){
					var pass=document.getElementById("pass");
					var cfpass=document.getElementById("cfpass");
					var cfpassError=document.getElementById("cf_password_error");
					if(pass.value!="" &&  cfpass.value!=""){
						if(pass.value != cfpass.value ){
							cfpassError.style.color="red";
							cfpassError.innerHTML="Mật khẩu nhập lại không đúng!";
						}
						else {
							cfpassError.innerHTML="";
							document.location.href ="/registerinformation";	
						}
					}
				};
</script>					

</html>