<div>
    <!--
        Block Links
    -->
    <div class = "blockfooter col-md-4 float-left">
        <span class = "titleblock">LINKS</span>
        <p></p>
        <ul>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
            <li><a href="">a</a></li>
        </ul>
    </div>

    <!--
        Block Infomations
    -->
    <div class = "blockfooter col-md-4 float-left">
        <span class = "titleblock">INFOMATIONS</span>
        <p></p>
        <ul>
            <li>Address: ******** </li>
            <li>Tel: ******** - Hotline: ********</li>
            <li>Fax:******** </li>
            <li>Email: ********</li>
            <li>Website: abcxyz.com</li>
        </ul>
    </div>

    <!--
        Block Maps Google
    -->
    <div class = "blockfooter  col-md-4 float-right">
        <span class = "titleblock">MAPS</span>
        <p></p>
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3369.1149217475195!2d105.78259280139258!3d21.036716390866996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab4aab877325%3A0x67be25466d345b75!2zxJDhuqFpIGjhu41jIFF14buRYyBHaWEgSMOgIE7hu5lpIC0gWHXDom4gVGjhu6d5!5e0!3m2!1svi!2s!4v1523930001348" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>
    <hr class="clear">
    <div class="copyright">
        COPYRIGHT 2018
    </div>
</div>