<div class="topheader">
    <div class="outer">
        <div class="inner">
            <div class="topleftmenu">
                <a target="_top" href="/">Trang chủ</a>
                <span class="infoBox" id="information">
                    <a class="info-choose" id="information-choose" target="_top" href="">Giới thiệu</a>
                </span>
                <a target="_top" href="/">Tin tức - Sự kiện</a>
                <a target="_top" href="/">Kết nối cựu sinh viên</a>
                <a target="_top" href="/">Liên hệ</a>
            </div>
            <div class="toprightmenu">
                <form name="search_form">
                    <input type = "text" name = "search" class="form-control" id="search" placeholder = "Search">
                </form>
                <div class = "login_register">
                    <a href="/login">Dang Nhap</a>
                    <a href="/register">Dang Ki</a>
                </div>
            </div>
        </div>
    </div>
</div>
